

<div class="ui one column grid">
  <div class="row">
    <div class="column ">
      <h1 class="googleLogo">Google</h1>
      
     </div>
    
  </div>

  <div class="row">
    <div class="column " >
     <div class="ui icon input">
  <i class="search icon"></i>
  <input type="text" class="googleSearchbar" placeholder="Search google or type a URL...">
</div>
</div>
   
  </div>

  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
 
</div>