/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;
  text-align: center;
}

.googleLogo{
  padding-top: 150px;
  text-align: center;
  font-size: 100px;
}

.googleSearchbar {
  height: 44px;
  width: 541px;
  border-radius: 50px;
}
